---
interface Props { url?: string; }
const { url = 'https://calendly.com/formations_cpf/private-videocall-with-julien' } = Astro.props;
---
<div class="calendly-inline-widget" data-url={url} data-resize="true" style="min-width:320px;height:700px;"></div>
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" defer></script>
